<main class="mypage clearfix">
	<section class="user_profile">
		<span>
			<%= attachment_image_tag @user, :profile_image, :fill, 300, 300, fallback: "no_image.jpg", size:'300x300', class: "user_image" %>
			<br>
		</span>
		<span class="user_name"><%= @user.name %></span>
		<br>
		<span class="user_introduction"><%= @user.introduction %></span>
		<br>
		<% if @user != current_user %>
			<span id="follow_<%= @user.id %>">
				<%= render 'users/follow', user: @user %>
			</span>
		<% else %>
			<%= link_to "Edit Profile", edit_user_path(@user) %>
			<br>
			<%= link_to "Sell Item", new_item_path %>
		<% end %>
	</section>
	<section class="user_items">
		<% @user.items.each do |item| %>
			<div class="item_box">
				<%= render 'items/index', item: item %>
			</div>
		<% end %>
	</section>
	<section>
		<% @buy_item.each do |item| %>
			<div class="item_box">
				<%= render 'items/index', item: item %>
			</div>
		<% end %>
	</section>
</main>