<main class="item_edit clearfix">

	<div class="left">
		<strong>Image</strong>
		<br>
		<%= attachment_image_tag item, :item_image, :fill, 300, 300, fallback: "item_no_image.png", size:'300x300', id: "img", class: "item_image" %>
		<%= f.attachment_field :item_image, id: "file" %>
	</div>

	<div class="right">
		<strong>Category</strong><br>
		<%= f.collection_select(:category_id, Category.all, :id, :name) %>
		<br>

		<strong>Brand</strong><br>
		<%= f.collection_select(:brand_id, Brand.all, :id, :name) %>
		<br>

		<strong>Name</strong><br>
		<%= f.text_field :title %>
		<br>

		<strong>Size</strong><br>
		<%= f.text_field :size %>
		<br>

		<strong>Price</strong><br>
		¥<%= f.text_field :price %>
		<br>
	</div>

	<div class="bottom">
		<strong>Body</strong><br>
		<%= f.text_area :body %>
		<br>
	</div>
</main>
