<main class="item_page clearfix">
	<div class="item_image">
		<%= attachment_image_tag @item, :item_image, :fill, 300, 300, class: "item_image_inner" %>
	</div>
	<div class="item_info">
		<strong><%= @item.title %></strong>
		<hr>

		<strong>
			Brand :
			<%= @item_brand %>
		</strong>
		<hr>

		<strong>
			Size :
			<%= @item.size %>
		</strong>
		<hr>

		<strong>
			Category :
			<%= @item_category %>
		</strong>
		<hr>

		<strong>¥<%= @item.price %></strong>
		<hr>

		<% if current_user = @item.user %>
			<%= link_to "Edit", edit_item_path(@item) %>
			<%= link_to "Delete", item_path(@item), data: { confirm: "#{@item.title} Delete?" }, method: :delete, class: "item_delete" %>
		<% end %>
	</div>
</main>
<section class="item_body">
	出品者情報と商品の説明文
</section>